.score-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  flex: 1;
  min-width: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.radialbar-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-title {
  color: #20253a;
  font-size: 0.9375rem;
  font-weight: 500;
  position: absolute;
  top: 11px;
  left: 37px;
}

.score-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9b9eac;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  width: 158px;
  height: 158px;
  box-sizing: border-box;
}

.score-label p {
  margin: 0;
}

.score-label .percent {
  color: #282d30;
  font-size: 1.625rem;
  font-weight: 700;
}
