.user-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
  overflow-y: auto;
}
.user_firstname {
  color: red;
}
.main-content {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar {
  width: 20%;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar a {
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.sidebar a:hover {
  color: #61dafb;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.greetings {
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  flex: 1;
  max-width: 100%;
}

.charts-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 20px;
}

.upper-charts {
  width: 100%;
  margin-bottom: 20px;
}

.lower-charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: nowrap;
}

.lower-charts > div {
  flex: 1;
  min-width: 0;
  height: 250px;
}

.specs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  max-width: 300px;
  box-sizing: border-box;
  justify-content: space-between;
}
