.user-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
  overflow-y: auto; /* Allow vertical scrolling */
}

.main-content {
  display: flex;
  flex: 1;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
}

.sidebar {
  width: 20%;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar a {
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.sidebar a:hover {
  color: #61dafb;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto; /* Allows vertical scrolling if needed */
}

.greetings {
  padding: 20px;
  background-color: #282c34;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to separate from charts */
}

.content-container {
  display: flex;
  flex-direction: row; /* Side-by-side layout for charts and nutritional info */
  gap: 20px;
  width: 100%;
  max-width: 100%; /* Ensure it doesn't exceed the parent width */
}

.charts-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 20px;
}

.upper-charts {
  width: 100%;
  margin-bottom: 20px; /* Ensure space between upper and lower charts */
}

.lower-charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.lower-charts > div {
  flex: 1; /* Allow charts to grow/shrink equally */
  min-width: 0; /* Allow shrinking */
  height: 250px; /* Ensure uniform height */
}

.nutritional-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
  max-width: 300px; /* Adjust the max width to prevent overflow */
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-basis: 30%;
  margin: 10px;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .dashboard {
    flex-direction: column;
  }

  .content-container {
    flex-direction: row; /* Ensure it stays row on smaller screens */
  }

  .lower-charts {
    flex-direction: row; /* Ensure it stays row on smaller screens */
  }

  .lower-charts > div {
    height: 200px; /* Adjust height for smaller screens */
  }
}
